{% extends 'base.html'%}
{% block content %}

<form method="post">  
    <div class="container">
      {% csrf_token %}
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Username" name="user" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Password" name="password" required>
  
      <button type="submit">Login</button>
      <!--
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
      -->
    </div>
    <!--
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    -->
    </div>
</form>
{% endblock %}