{% extends 'base.html'%}
{% block content %}

<div class="mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h3 clas="mdl-card__title-text"> {{title}} </h3>
  </div>
  <div class="mdl-card__supporting-text">
    <span> {{content}} </span>
  </div> 
  <div class="mdl-card__supporting-text">
    <h6> Author: {{author}}</h6>
    <h6> Date: {{date}}</h6>
  </div>  
  <div class="mdl-card__supporting-text">
    <a href="{{edit}}"> Edit</a>    
    <a href="{{delete}}"> Delete </a>
  </div>
  
</div>

{% endblock %}